html, body{height: 100%; width: 100%; font-family: 'Roboto', sans-serif;}
body{background-color: #000;}

main{
    width: 100%; 
    height: 100%;
}

/* =================================== LOGO ========================== */

#logo{
    position: fixed;
    width: 70px;
    margin: 30px 45px;
    transition: .2s ease-out;
}

#logo:hover{
    opacity: 0.5;
}

/* ==================================== SOCIAL NETWORK ================================ */

#socialNetwork{
    position: fixed;
    width: 30px;
    height: 200px;
    margin-left: 60px;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

#socialNetwork>span{
    display: block;
    width: 2px;
    height: 50px;
    background-color: #45FF00;
    margin-bottom: 20px;
    margin-left: 14px;
}

#socialNetwork a img{
    margin-bottom: 15px;
    cursor: pointer;
    transition: .1s ease;
}

#socialNetwork a img:hover{
    opacity: 0.5;
}

/* ========================= LATERAL TITLE =========================== */

h2{
    position: fixed;
    bottom: 11%;
    font-size: 2em;
    color: #45FF00;
    font-weight: 700;
    transform: rotate(270deg)
}

#h2about{
    margin-left: 23px;
}

/* ========================= BURGER =========================== */

ul>li>a{
    text-decoration: none;
    color: #f7f7f7;
}

#hamburger-button{
    position: fixed;
    z-index: 9999;
    display: inline-block;
    vertical-align: top;
    height:30px;
    width:40px;
    left:120px;
    top:50%;
    cursor: pointer;
}
#hamburger-button>span {
    display: block;
    height: 4px;
    margin-bottom: 6px;
    width: 40px;
    background-color: #45FF00;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    transition-duration:0.4s;
}   
#hamburger-button.open>span:first-child{
    -webkit-transform: translateY(10px) rotate(45deg);
    -moz-transform: translateY(10px) rotate(45deg); 
    -ms-transform: translateY(10px) rotate(45deg); 
    -o-transform: translateY(10px) rotate(45deg); 
    transform:translateY(10px) rotate(45deg);
}
#hamburger-button.open>span:nth-child(2){
    -webkit-transform: rotateY(90deg); 
    -moz-transform: rotateY(90deg); 
    -ms-transform: rotateY(90deg); 
    -o-transform: rotateY(90deg); 
    transform: rotateY(90deg);
}
#hamburger-button.open>span:last-child{
    -webkit-transform: translateY(-10px) rotate(-45deg); 
    -moz-transform: translateY(-10px) rotate(-45deg); 
    -ms-transform: translateY(-10px) rotate(-45deg); 
    -o-transform: translateY(-10px) rotate(-45deg); 
    transform: translateY(-10px) rotate(-45deg);
}
.navbar{
    position:fixed;
    opacity:.9;
    z-index:888; 
    height:100%;
    width: 100%;
    left:-110%;
    transition:0.4s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    background-color:#000;
}

.navbar.open{
    left:0;
}

.navbar ul{
    position: relative;
    list-style:none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
    font-size: 2.5em;
}

.navbar ul li{
    margin-bottom:10px;
    padding:10px;
    text-align:center;
    z-index: 999;
}

.navbar ul li a{
    transition: .3s ease;
}

.navbar>ul>li>a:hover{
    color: #45FF00;
}

/* ========================= INTRODUCTION ============================ */

h3{
    position: absolute;
    left: 23%;
    width: 400px;
    color: #f7f7f7;
    font-size: 80px;
    font-weight: 900;
}

#title-h3{
    top: 150px;
}

.about-bio{
    position: absolute;
    color: #f7f7f7;
    font-family: Quattrocento ;
    font-size: 0.9em;
    line-height: 1.4em;
    background: rgba(0,0,0,0.5);
    letter-spacing: 0.5px;
}

#about-bio{
    left: 23%;
    top: 300px;
    width: 300px;
}

#about-bio2{
    right: 13%;
    top: 750px;
    width: 250px;
    text-align: right; 
}

#span-bio{
    position: absolute;
    top: 750px;
    right: 12%;
    display: block;
    background-color: #f7f7f7;
    width: 2px;
    height: 200px;
}

/* ========================= TEAM INTRODUCTION ============================ */

#team-h3{
    top: 1100px;
}

#h3-span{
    display: block;
    position: absolute;
    top: 1080px;
    left: 23%;
    width: 220px;
    height: 8px;
    background-color: #45FF00; 
}

#team{
    position: absolute;
    left: 23%;
    top: 1250px;  
}

* {
  box-sizing: border-box;
}

.card {
    position: relative;
    overflow: hidden;
    margin-left: 50px;
    width: 270px;
    background-color: #000;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
    float: left;
    vertical-align: top;
}

.card a {
    color: inherit;
    text-decoration: none;
}

.card:hover {
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.3);
}

.cardThumb {
    height: 335px;
    overflow: hidden;
    background-color: #000;
    transition: height 0.3s;
}

.cardThumb img {
    display: block;
    width: 100%;
    opacity: 1;
    transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.card:hover .cardThumb img {
    opacity: 0.6;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.card:hover .cardThumb {
    height: 220px;
}

.cardBody {
    position: relative;
    padding: 20px;
    height: 185px;
    transition: height 0.3s;
}

.card:hover .cardBody {
    height: 900px;
}

.cardCategory {
    position: relative;
    left: 0;
    top: -30px;
    height: 30px;
    padding: 0 15px;
    color: #000;
    font-size: 15px;
    line-height: 30px;
    text-transform: uppercase;
    background-color: #45FF00;
}

.cardTitle {
    margin: 0;
    padding: 0 0 10px 0;
    font-size: 22px;
    color: #f7f7f7;
    font-weight: bold;
}

.card:hover .cardTitle {
    -webkit-animation: titleBlur 0.3s;
    animation: titleBlur 0.3s;
}

.cardSubtitle {
    margin: 0;
    padding: 0 0 10px 0;
    font-size: 19px;
    color: #45FF00;
}

.card:hover .cardSubtitle {
    -webkit-animation: subtitleBlur 0.3s;
    animation: subtitleBlur 0.3s;
}

.cardDescription {
    position: relative;
    top: 20px;
    bottom: 45px;
    margin: 0;
    padding: 0;
    color: #f7f7f7;
    font-size: 14px;
    line-height: 27px;
    opacity: 0;
    transition: opacity 0.2s, -webkit-transform 0.2s;
    transition: opacity 0.2s, transform 0.2s;
    transition-delay: 0s;
    -webkit-transform: translateY(25px);
    -ms-transform: translateY(25px);
    transform: translateY(25px);
}

.card:hover .cardDescription {
    opacity: 1;
    transition-delay: 0.1s;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

@-webkit-keyframes titleBlur {
    0% {
        opacity: 0.6;
        text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6);
    }
    100% {
        opacity: 1;
        text-shadow: 0px 5px 5px transparent;
    }
}

@keyframes titleBlur {
    0% {
        opacity: 0.6;
        text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6);
    }
    100% {
        opacity: 1;
        text-shadow: 0px 5px 5px transparent;
    }
}

@-webkit-keyframes subtitleBlur {
    0% {
        opacity: 0.6;
        text-shadow: 0px 5px 5px rgba(255, 140, 0, 0.6);
    }
    100% {
        opacity: 1;
        text-shadow: 0px 5px 5px rgba(255, 140, 0, 0);
    }
}

@keyframes subtitleBlur {
    0% {
        opacity: 0.6;
        text-shadow: 0px 5px 5px rgba(255, 140, 0, 0.6);
    }
    100% {
        opacity: 1;
        text-shadow: 0px 5px 5px rgba(255, 140, 0, 0);
    }
}

/* ========================= CATCH PHRASE ============================ */

h4{
    position: absolute;
    top: 1900px;
    left: 23%;
    width: 400px;
    color: #45FF00;
    font-size: 80px;
    font-weight: 900;
}