@media screen and (min-width:1360px){
    .card{margin-left: 100px;}
}

@media screen and (min-width:1024px){
    .socialIcon{display: none;}
}

@media screen and (max-width:1024px){
    .burger{display: block;}
    .main-menu{display: none;}
    #logo{margin-top: 20px; left: 43%; transform: translateX(-50%);}
    #hamburger-button{top: 30px; left: 30px;}
    #socialNetwork{display: none;}
    .socialIcon{position: relative; float: left; transition: opacity .2s ease; left: 42%;} 
    .socialIcon:hover{opacity: 0.6;}
    .navbar ul li{font-size: 1.5em;}
    h1{font-size: 70px;}
    .works-nav{font-size: 40px;}
    .span-nav{height: 40px;}
    #videos-nav{top: 25%;}
    #illu-nav{left: 30%;}
    #photo-nav{left: 30%; top: 55%;}
    #dg-nav{left: 25%; top: 70%;}
    .span-nav:first-child{top: 32%;}
    .span-nav:nth-child(2){top: 47%;}
    .span-nav:last-child{top: 62%;}
    .items{width: 250px; height: 170px;}
    .gallery{margin-left: 120px;}
    h2{margin-left: -20px;}
    #h2about{margin-left: 0px;}
    h4{top: 2400px;}
    .card{width: 200px;}
    .cardThumb{height: 280px;}
    .cardDescription{font-size: 11px; line-height: 17px;}
    .card:hover .cardBody {height: 700px;}

    

}


@media screen and (max-width:480px){
    #logo{width: 55px; left: 40%;}
    .socialIcon{position: relative; float: left; transition: opacity .2s ease; left: 33%;} 
    .socialIcon:hover{opacity: 0.6;}
    h1{font-size: 50px; width: 300px;}
    .navbar ul{font-size: 1.3em;}
    #skip{display: none;}
    #bgvid{display: none;}
    h4{font-size: 40px; width: 180px; top: 2450px;}
    h2{font-size: 1.5em;}
    h3{width: 250px; font-size: 50px;}
    #h3-span{width: 140px;}
    .about-bio{width: 150px; font-size: 0.8em;}
    #about-bio2{width: 150px;}
    #span-bio{height: 225px; right: 11%;}
    #mail{width: 100px;}
    #h1{width: 200px; font-size: 40px;}
    #about-bio{width: 200px;}
    .cardThumb{height: 250px;}
    .card:hover .cardThumb {height: 180px;}   
}

@media screen and (max-width:320px){
    .card{width: 150px;}
    .cardThumb{height: 200px;}
    .cardDescription{font-size: 9px; line-height: 13px;}
    .card:hover .cardBody {height: 660px;}
    .card:hover .cardThumb {height: 130px;}
    .cardTitle{font-size: 18px;} 
    .cardSubtitle{font-size: 15px;}
    h3, #about-bio, #h3-span, #team, h4{left: 25%;}
}