html, body{height: 100%; width: 100%; font-family: 'Roboto', sans-serif; background-color: #000; overflow: hidden;}

main{
    position: relative;
    background-color: #000; 
    box-shadow: 2px 2px 4px #999;
    z-index: 20;
    transition: transform .6s ease;
    width: 100%; 
    height: 100%;
}

#navigation{
    position: absolute;
    width: 200px;
    height: 100%;
}

/************* 
NAVIGATION
**************/

#logo{
    position: fixed;
    width: 70px;
    margin: 30px 45px;
    transition: .2s ease-out;
}
#logo:hover{
    opacity: 0.5;
}
ul>li>a{
    text-decoration: none;
    color: #f7f7f7;
}

.button{
    cursor: pointer;
    position: absolute;   
}

#home-button{
    right: 230px;
    top: 22px;
    box-shadow: inset 0px -2px 0px #45FF00;
    transition: all .2s ease 0s;
    line-height:25px;
    padding: 5px;
}

#home-button:hover{
    box-shadow:inset 0px -35px 0px #45FF00;   
}

#about-button{
    right: 150px;
    top: 22px;
    box-shadow: inset 0px -2px 0px #45FF00;
    transition: all .2s ease 0s;
    line-height:25px;
    padding: 5px;
}

#about-button:hover{
    box-shadow:inset 0px -35px 0px #45FF00;   
}

#contact-button{
    right: 50px;
    top: 22px;
    box-shadow: inset 0px -2px 0px #45FF00;
    transition: .2s ease 0s;
    line-height:25px;
    padding: 5px;
}

#contact-button:hover{
    box-shadow:inset 0px -35px 0px #45FF00;   
}

#socialNetwork{
    position: fixed;
    width: 30px;
    height: 200px;
    margin-left: 60px;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

#socialNetwork>span{
    display: block;
    width: 2px;
    height: 50px;
    background-color: #45FF00;
    margin-bottom: 20px;
    margin-left: 14px;
}

#socialNetwork a img{
    margin-bottom: 20px;
    cursor: pointer;
    transition: .1s ease;
}

#socialNetwork a img:hover{
    opacity: 0.5;
}

#h2{
    position: fixed;
    bottom: 15%;
    font-size: 2em;
    color: #45FF00;
    font-weight: 700;
    transform: rotate(270deg);
    margin-left: 23px;
    text-decoration: none;
    transition: color .4s ease;
}
#h2:hover{
    color: #f7f7f7;
}

h3{
    position: fixed;
    bottom: 15%;
    font-size: 1.5em;
    color: #f7f7f7;
    transform: rotate(270deg);
    font-weight: 300;
    margin-left: 30px;
}

#h3-vid{
    margin-left: 75px;
}

#h3-dg{
    margin-left: 23px;
}
/****** BURGER ****/
#hamburger-button{
    position: fixed;
    z-index: 9999;
    display: inline-block;
    vertical-align: top;
    height:30px;
    width:40px;
    margin-left:120px;
    top:50%;
    cursor: pointer;
}
#hamburger-button>span {
    display: block;
    height: 4px;
    margin-bottom: 6px;
    width: 40px;
    background-color: #45FF00;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    transition-duration:0.4s;
}   
#hamburger-button.open>span:first-child{
    -webkit-transform: translateY(10px) rotate(45deg);
    -moz-transform: translateY(10px) rotate(45deg); 
    -ms-transform: translateY(10px) rotate(45deg); 
    -o-transform: translateY(10px) rotate(45deg); 
    transform:translateY(10px) rotate(45deg);
}
#hamburger-button.open>span:nth-child(2){
    -webkit-transform: rotateY(90deg); 
    -moz-transform: rotateY(90deg); 
    -ms-transform: rotateY(90deg); 
    -o-transform: rotateY(90deg); 
    transform: rotateY(90deg);
}
#hamburger-button.open>span:last-child{
    -webkit-transform: translateY(-10px) rotate(-45deg); 
    -moz-transform: translateY(-10px) rotate(-45deg); 
    -ms-transform: translateY(-10px) rotate(-45deg); 
    -o-transform: translateY(-10px) rotate(-45deg); 
    transform: translateY(-10px) rotate(-45deg);
}
.navbar{
    position:fixed;
    opacity:.9;
    z-index:888; 
    height:100%;
    width: 200px;
    left:-210px;
    transition:0.4s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    background-color:#000;
}
.navbar.open{
    left:0;
}
.navbar ul{
    list-style:none;
    margin-top:60%;
    font-size:1.5em;
    
}
.navbar ul li{
    border-bottom:1px solid #282a29;
    margin-bottom:10px;
    padding:10px;
    text-align:left;
    z-index: 999;
    
}
.navbar ul li a{
    transition: .3s ease;
}
.navbar>ul>li>a:hover{
    color: #45FF00;
}

/**************
MAIN NAV
**************/

.works-nav{
    position: absolute;
    color: #f7f7f7;
    font-size: 60px;
    top: 50%;
    left: 50%;
    font-weight: 900;
    opacity: 0;
    animation: opacity;
    animation-delay: .2s;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}
.works-nav a{
    transition: .4s ease;
}
.works-nav a:hover{
    color: #45FF00;
}

@keyframes opacity {
    from{opacity: 0;}
    to{opacity: 1;}
}

#videos-nav{
    top: 20%;
    left: 40%;
}

#illu-nav{
    top: 40%;
    left: 48%;
}

#photo-nav{
    top: 60%;
    left: 25%;
}

#dg-nav{
    top: 80%;
    left: 40%;
}
.span-nav{
    display: block;
    position: absolute;
    left: 50%;
    background-color: #45FF00;
    width: 2px;
    height: 70px;  
    transform: rotate(150deg);
}

.span-nav:first-child{top: 29%;}
.span-nav:nth-child(2){top: 49%;}
.span-nav:last-child{top: 69%;}

/* ========================= GALLERY ======================= */

/* ============== ILLU 01 =========== */

#illu1{
    position: relative;
    background:  url(../images/illustration/animals/Ceva_Judicael_2eme_annee_Insecte.jpg);
    background-size: cover;
    
}

#illu1:after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(69,255,0,0.7), rgba(69,255,0,0.7)), url(../images/illustration/animals/Ceva_Judicael_2eme_annee_Insecte.jpg);
    background: -moz-linear-gradient(top, rgba(69,255,0,0.7), rgba(69,255,0,0.7)), url(../images/illustration/animals/Ceva_Judicael_2eme_annee_Insecte.jpg);
    background: -o-linear-gradient(top, rgba(69,255,0,0.7), rgba(69,255,0,0.7)), url(../images/illustration/animals/Ceva_Judicael_2eme_annee_Insecte.jpg);
    background: -ms-linear-gradient(top, rgba(69,255,0,0.7)), rgba(69,255,0,0.7), url(../images/illustration/animals/Ceva_Judicael_2eme_annee_Insecte.jpg);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(69,255,0,0.7)), to(rgba(69,255,0,0.7))), url(../images/illustration/animals/Ceva_Judicael_2eme_annee_Insecte.jpg);
    background: -webkit-linear-gradient(top, rgba(69,255,0,0.7), rgba(69,255,0,0.7)), url(../images/illustration/animals/Ceva_Judicael_2eme_annee_Insecte.jpg); 
    -webkit-transition: opacity .5s ease;
    -moz-transition: opacity .5s ease;
    -ms-transition: opacity .5s ease;
    -o-transition: opacity .5s ease;
    transition: opacity .5s ease;
    background-size: cover;
    z-index: 2;
    opacity: 0;
}

#illu1:hover:after{
    opacity: 1;
}

/* ============== ILLU 02 =========== */

#illu2{
    position: relative;
    background:  url(../images/illustration/landscape.png);
    background-size: cover;
}

#illu2:after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(69,255,0,0.7), rgba(69,255,0,0.7)), url(../images/illustration/landscape.png);
    background: -moz-linear-gradient(top, rgba(69,255,0,0.7), rgba(69,255,0,0.7)), url(../images/illustration/landscape.png);
    background: -o-linear-gradient(top, rgba(69,255,0,0.7), rgba(69,255,0,0.7)), url(../images/illustration/landscape.png);
    background: -ms-linear-gradient(top, rgba(69,255,0,0.7)), rgba(69,255,0,0.7), url(../images/illustration/landscape.png);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(69,255,0,0.7)), to(rgba(69,255,0,0.7))), url(../images/illustration/landscape.png);
    background: -webkit-linear-gradient(top, rgba(69,255,0,0.7), rgba(69,255,0,0.7)), url(../images/illustration/landscape.png);
    -webkit-transition: opacity .5s ease;
    -moz-transition: opacity .5s ease;
    -ms-transition: opacity .5s ease;
    -o-transition: opacity .5s ease;
    transition: opacity .5s ease;
    background-size: cover;
    z-index: 2;
    opacity: 0;
}

#illu2:hover:after{
    opacity: 1;
}

/* ============== ILLU 03 =========== */

#illu3{
    position: relative;
    background:  url(../images/illustration/free-drawing.jpg);
    background-size: cover;
}

#illu3:after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(69,255,0,0.7), rgba(69,255,0,0.7)), url(../images/illustration/free-drawing.jpg);
    background: -moz-linear-gradient(top, rgba(69,255,0,0.7), rgba(69,255,0,0.7)), url(../images/illustration/free-drawing.jpg);
    background: -o-linear-gradient(top, rgba(69,255,0,0.7), rgba(69,255,0,0.7)), url(../images/illustration/free-drawing.jpg);
    background: -ms-linear-gradient(top, rgba(69,255,0,0.7)), rgba(69,255,0,0.7), url(../images/illustration/free-drawing.jpg);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(69,255,0,0.7)), to(rgba(69,255,0,0.7))), url(../images/illustration/free-drawing.jpg);
    background: -webkit-linear-gradient(top, rgba(69,255,0,0.7), rgba(69,255,0,0.7)), url(../images/illustration/free-drawing.jpg);
    -webkit-transition: opacity .5s ease;
    -moz-transition: opacity .5s ease;
    -ms-transition: opacity .5s ease;
    -o-transition: opacity .5s ease;
    transition: opacity .5s ease;
    background-size: cover;
    z-index: 2;
    opacity: 0;
}

#illu3:hover:after{
    opacity: 1;
}

/* ============== ILLU 04 =========== */

#illu4{
    position: relative;
    background:  url(../images/illustration/365-Project/365-02.png);
    background-size: cover;
}

#illu4:after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(69,255,0,0.7), rgba(69,255,0,0.7)), url(../images/illustration/365-Project/365-02.png);
    background: -moz-linear-gradient(top, rgba(69,255,0,0.7), rgba(69,255,0,0.7)), url(../images/illustration/365-Project/365-02.png);
    background: -o-linear-gradient(top, rgba(69,255,0,0.7), rgba(69,255,0,0.7)), url(../images/illustration/365-Project/365-02.png);
    background: -ms-linear-gradient(top, rgba(69,255,0,0.7)), rgba(69,255,0,0.7), url(../images/illustration/365-Project/365-02.png);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(69,255,0,0.7)), to(rgba(69,255,0,0.7))), url(../images/illustration/365-Project/365-02.png);
    background: -webkit-linear-gradient(top, rgba(69,255,0,0.7), rgba(69,255,0,0.7)), url(../images/illustration/365-Project/365-02.png);
    -webkit-transition: opacity .5s ease;
    -moz-transition: opacity .5s ease;
    -ms-transition: opacity .5s ease;
    -o-transition: opacity .5s ease;
    transition: opacity .5s ease;
    background-size: cover;
    z-index: 2;
    opacity: 0;
}

#illu4:hover:after{
    opacity: 1;
}


/* ============== ILLU 05 =========== */

#illu5{
    position: relative;
    background:  url(../images/illustration/Badness/Badness-typo.png);
    background-size: cover;
}

#illu5:after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(69,255,0,0.7), rgba(69,255,0,0.7)), url(../images/illustration/Badness/Badness-typo.png);
    background: -moz-linear-gradient(top, rgba(69,255,0,0.7), rgba(69,255,0,0.7)), url(../images/illustration/Badness/Badness-typo.png);
    background: -o-linear-gradient(top, rgba(69,255,0,0.7), rgba(69,255,0,0.7)), url(../images/illustration/Badness/Badness-typo.png);
    background: -ms-linear-gradient(top, rgba(69,255,0,0.7)), rgba(69,255,0,0.7), url(../images/illustration/Badness/Badness-typo.png);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(69,255,0,0.7)), to(rgba(69,255,0,0.7))), url(../images/illustration/Badness/Badness-typo.png);
    background: -webkit-linear-gradient(top, rgba(69,255,0,0.7), rgba(69,255,0,0.7)), url(../images/illustration/Badness/Badness-typo.png);
    -webkit-transition: opacity .5s ease;
    -moz-transition: opacity .5s ease;
    -ms-transition: opacity .5s ease;
    -o-transition: opacity .5s ease;
    transition: opacity .5s ease;
    background-size: cover;
    z-index: 2;
    opacity: 0;
}

#illu5:hover:after{
    opacity: 1;
}

/* ============== ILLU 06 =========== */

#illu6{
    position: relative;
    background:  url(../images/illustration/Geek/Geek-nb.jpg);
    background-size: cover;
}

#illu6:after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(69,255,0,0.7), rgba(69,255,0,0.7)), url(../images/illustration/Geek/Geek-nb.jpg);
    background: -moz-linear-gradient(top, rgba(69,255,0,0.7), rgba(69,255,0,0.7)), url(../images/illustration/Geek/Geek-nb.jpg);
    background: -o-linear-gradient(top, rgba(69,255,0,0.7), rgba(69,255,0,0.7)), url(../images/illustration/Geek/Geek-nb.jpg);
    background: -ms-linear-gradient(top, rgba(69,255,0,0.7)), rgba(69,255,0,0.7), url(../images/illustration/Geek/Geek-nb.jpg);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(69,255,0,0.7)), to(rgba(69,255,0,0.7))), url(../images/illustration/Geek/Geek-nb.jpg);
    background: -webkit-linear-gradient(top, rgba(69,255,0,0.7), rgba(69,255,0,0.7)), url(../images/illustration/Geek/Geek-nb.jpg);
    -webkit-transition: opacity .5s ease;
    -moz-transition: opacity .5s ease;
    -ms-transition: opacity .5s ease;
    -o-transition: opacity .5s ease;
    transition: opacity .5s ease;
    background-size: cover;
    z-index: 2;
    opacity: 0;
}

#illu6:hover:after{
    opacity: 1;
}

/* ============== PHOTO 01 =========== */

#photo1{
    position: relative;
    background:  url(../images/photography/anne-laura/IMG_2311.jpg);
    background-size: cover;
}

#photo1:after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(69,255,0,0.7), rgba(69,255,0,0.7)), url(../images/photography/anne-laura/IMG_2311.jpg);
    background: -moz-linear-gradient(top, rgba(69,255,0,0.7), rgba(69,255,0,0.7)), url(../images/photography/anne-laura/IMG_2311.jpg);
    background: -o-linear-gradient(top, rgba(69,255,0,0.7), rgba(69,255,0,0.7)), url(../images/photography/anne-laura/IMG_2311.jpg);
    background: -ms-linear-gradient(top, rgba(69,255,0,0.7)), rgba(69,255,0,0.7), url(../images/photography/anne-laura/IMG_2311.jpg);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(69,255,0,0.7)), to(rgba(69,255,0,0.7))), url(../images/photography/anne-laura/IMG_2311.jpg);
    background: -webkit-linear-gradient(top, rgba(69,255,0,0.7), rgba(69,255,0,0.7)), url(../images/photography/anne-laura/IMG_2311.jpg);
    -webkit-transition: opacity .5s ease;
    -moz-transition: opacity .5s ease;
    -ms-transition: opacity .5s ease;
    -o-transition: opacity .5s ease;
    transition: opacity .5s ease;
    background-size: cover;
    z-index: 2;
    opacity: 0;
}

#photo1:hover:after{
    opacity: 1;
}

/* ============== PHOTO 02 =========== */

#photo2{
    position: relative;
    background:  url(../images/photography/lindsay/IMG_2663.jpg);
    background-size: cover;
}

#photo2:after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(69,255,0,0.7), rgba(69,255,0,0.7)), url(../images/photography/lindsay/IMG_2663.jpg);
    background: -moz-linear-gradient(top, rgba(69,255,0,0.7), rgba(69,255,0,0.7)), url(../images/photography/lindsay/IMG_2663.jpg);
    background: -o-linear-gradient(top, rgba(69,255,0,0.7), rgba(69,255,0,0.7)), url(../images/photography/lindsay/IMG_2663.jpg);
    background: -ms-linear-gradient(top, rgba(69,255,0,0.7)), rgba(69,255,0,0.7), url(../images/photography/lindsay/IMG_2663.jpg);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(69,255,0,0.7)), to(rgba(69,255,0,0.7))), url(../images/photography/lindsay/IMG_2663.jpg);
    background: -webkit-linear-gradient(top, rgba(69,255,0,0.7), rgba(69,255,0,0.7)), url(../images/photography/lindsay/IMG_2663.jpg);
    -webkit-transition: opacity .5s ease;
    -moz-transition: opacity .5s ease;
    -ms-transition: opacity .5s ease;
    -o-transition: opacity .5s ease;
    transition: opacity .5s ease;
    background-size: cover;
    z-index: 2;
    opacity: 0;
}

#photo2:hover:after{
    opacity: 1;
}


.gallery {
    width: 80%;
    height: 100%;
    margin-left: 200px;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    overflow: scroll;
}

.items {
    width: 300px;
    height: 200px;
    cursor: pointer;  
}

.items .name{
    position: relative;
    width: 100%;
    height: 115px;
    padding-top: 85px;
    font-size: 1.2em;
    font-weight: 900;
    text-align: center;
    opacity: 0;
    -webkit-transition: opacity .5s ease;
    -moz-transition: opacity .5s ease;
    -ms-transition: opacity .5s ease;
    -o-transition: opacity .5s ease;
    transition: opacity .5s ease;
    z-index: 20;
}

.items .name:hover{
    opacity: 1;
}

#aside {
    position: fixed;
    top: 0;
    right: 0;
    width: 80%;
    height: 100%;
    background: #f7f7f7;
    overflow: scroll;
}

#aside img {
    width: 100%;
    vertical-align: top;
}
#aside .wrapper {
    padding: 1em;
    font-size: 0.8em
}

#aside .close {
    width: 25px;
    display: block;
    position: absolute;
    top: 1em;
    right: 1em;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    text-decoration: none;
    transition: opacity .5s ease;
}

#aside .close:hover{
    opacity: 0.5;
}
.show-detail {
    overflow: hidden;
}
.show-detail main {
    -webkit-transform: translateX(-80%);
    -moz-transform: translateX(-80%);
    -ms-transform: translateX(-80%);
    -o-transform: translateX(-80%);
    transform: translateX(-80%);
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

h4{
    font-size: 1.4em;
    font-weight: 700;
}
.wrapper p{
    font-family: Mate;
    font-size: 1.3em;
    font-weight: 500;
    width: 600px;
    margin-left: 20%;
}


