@media screen and (min-width:1024px){
    .socialIcon{display: none;}
    .burger{display: none;}
}

@media screen and (max-width:1024px){
    .burger{display: block;}
    .main-menu{display: none;}
    #logo{margin: 100px 20px;}
    #hamburger-button{top: 30px; left: 30px;}
    #socialNetwork{display: none;}
    .socialIcon{position: relative; float: left; transition: opacity .2s ease; left: 42%;} 
    .socialIcon:hover{opacity: 0.6;}
    .navbar ul li{font-size: 1.4em;}
    h1{font-size: 70px;}
    .works-nav{font-size: 40px;}
    .span-nav{height: 40px;}
    #videos-nav{top: 25%;}
    #illu-nav{left: 30%;}
    #photo-nav{left: 30%; top: 55%;}
    #dg-nav{left: 25%; top: 70%;}
    .span-nav:first-child{top: 32%;}
    .span-nav:nth-child(2){top: 47%;}
    .span-nav:last-child{top: 62%;}
    .items{width: 250px; height: 170px;}
    .gallery{margin-left: 120px;}
    #h2{margin-left: 0px;}
    h6{margin-left: 10px;}
    #h6-vid{margin-left: 50px;}
    #h6-dg{margin-left: 0px;}
    .wrapper p{width: 400px; margin-left: 17%;}

}


@media screen and (max-width:480px){
    #logo{width: 55px;}
    .socialIcon{position: relative; float: left; transition: opacity .2s ease; left: 33%;} 
    .works-nav{font-size: 20px; font-weight: 700;}
    .span-nav{height: 20px;}
    .navbar ul{font-size: 1.3em;}
    #h2{font-size: 1.5em;}
    h6{font-size: 1em;}
    .items{width: 200px; height: 120px;}
    .gallery{margin-left: 80px;}
    .wrapper p{font-size: 0.8em; width: 180px;}
    #aside{width: 87%;}
    .show-detail main {-webkit-transform: translateX(-87%); -moz-transform: translateX(-87%); -ms-transform: translateX(-87%); -o-transform: translateX(-87%); transform: translateX(-87%);}
    iframe{height: 250px;}

}


@media screen and (max-width:320px){

}